{% extends "layout.html" %}
  {% block body %}
    <h1>Diary</h1>
    <a href="{{url_for('diary_add')}}">Adicionar</a>
    <table>
        <thead>
            <tr>
                <td>Data</td>
                <td>Tarefas</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for diary in diary %}
                <tr>
                    <td>{{diary.data}}</td>
                    <td>{{diary.tarefa}}</td>
                    <td><a href="{{url_for('tarefa_rmv', id=diary._id)}}">Remover</a></td>
                </tr>
            {% else %}
            <tr>
                <td colspan="3"> Não há tarefas</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
  {% endblock %}
